
header{

  color: white;

  .container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    
    div {

      &:first-child{

        background: $orange;
        flex: 1;
        margin-right: 10px;
        position: relative;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }

        h1 {
          font-size: 2em;
          font-weight: 900;
          letter-spacing: -1px;
          position: absolute;
          top: 5px;
          right: 5px;
          // left: 0;
          // bottom: 0;
          // transform: translate(114px,5px);
        }

      } // div:first-child

      &:nth-child(2){

        color: $tetsu;
        background: $flesh;
        flex: 3;

        h2 {
          font-size: 2em;
          font-weight: 300;
          position: absolute;
          transform: rotate(90deg);
          transform-origin: 15px 29px;
        }

      } // div:nth-child(2)

      &:nth-child(3) {
        flex-basis: 100%;
        background: $tetsu;
        padding: 10px;
        padding-top: 60px;
        margin-top: 10px;
        text-align: right;
        h3 {
          font-size: .8em;
          font-weight: 100;
        }
      }

    } //div

    & > p {
      font-size: 2em;
      font-weight: 100;
      position: absolute;
      right: 20px;
      bottom: 20px;

      a {
        padding-left: 5px;
        cursor: pointer;
        opacity: .5;
        transition: all .5s;
        &:hover {
          opacity: 1;
        }
      }
    }
    
  } //.container

} //header